*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    font-size: 40px;
}

img + p{
    color: green;
    padding-left: 70px;
    padding-bottom: 20px;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}